USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 04.07.2023 12:47:56 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\SQLDATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\SQLDATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  User [hoteluser]    Script Date: 04.07.2023 12:47:56 ******/
CREATE USER [hoteluser] FOR LOGIN [hoteluser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hoteluser]
GO
/****** Object:  Schema [hotelmy]    Script Date: 04.07.2023 12:47:56 ******/
CREATE SCHEMA [hotelmy]
GO
/****** Object:  Table [dbo].[Accomodation]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accomodation](
	[IDAccomodation] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[IDReserved] [int] NOT NULL,
	[IDPaymentCard] [int] NOT NULL,
	[PayDate] [date] NULL,
 CONSTRAINT [PK_Accomodation] PRIMARY KEY CLUSTERED 
(
	[IDAccomodation] ASC,
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[IDClient] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](30) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Patronymic] [varchar](30) NOT NULL,
	[Document] [varchar](25) NOT NULL,
	[DocumentSeriesAndNumber] [varchar](40) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Gender] [varchar](3) NOT NULL,
	[HomeAddress] [varchar](50) NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
 CONSTRAINT [PK_Clients_IDClient] PRIMARY KEY CLUSTERED 
(
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Numbers]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numbers](
	[IDNumber] [smallint] IDENTITY(1,1) NOT NULL,
	[Cost] [money] NOT NULL,
	[Floor] [smallint] NOT NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
	[NumberName] [varchar](10) NOT NULL,
	[IsLux] [bit] NULL,
	[NumberOfRooms] [tinyint] NULL,
	[NumberOfPlaces] [tinyint] NULL,
	[NumberOfFreePlaces] [tinyint] NULL,
	[IsBusy] [bit] NULL,
	[Description] [varchar](1000) NULL,
 CONSTRAINT [PK_Numbers_IDNumber] PRIMARY KEY CLUSTERED 
(
	[IDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentCard]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentCard](
	[IDPaymentCard] [int] IDENTITY(1,1) NOT NULL,
	[ArrivalDate] [datetime] NOT NULL,
	[DepartureDate] [datetime] NOT NULL,
	[Payment] [money] NOT NULL,
 CONSTRAINT [PK_PaymentCard] PRIMARY KEY CLUSTERED 
(
	[IDPaymentCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[IDReserved] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[EstimatedArrivalDate] [date] NOT NULL,
	[NumberDays] [tinyint] NOT NULL,
	[EstimatedDepartureDate] [datetime] NULL,
	[IsExist] [bit] NULL,
	[IsPaid] [bit] NULL,
	[Cost] [money] NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[IDReserved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation_Number]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation_Number](
	[IDNumber] [smallint] NOT NULL,
	[IDClient] [int] NOT NULL,
	[ArrivalDate] [datetime] NOT NULL,
	[IDReserved] [int] NULL,
	[NumberDay] [tinyint] NOT NULL,
	[NumberPeople] [tinyint] NOT NULL,
 CONSTRAINT [PK_Reservation_Number] PRIMARY KEY CLUSTERED 
(
	[IDNumber] ASC,
	[IDClient] ASC,
	[ArrivalDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[IDReview] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[Score] [varchar](1) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ReviewDate] [date] NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[IDReview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hotelmy].[Reservation_Archive]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hotelmy].[Reservation_Archive](
	[IDReserved] [int] IDENTITY(1,1) NOT NULL,
	[IDClient] [int] NOT NULL,
	[EstimatedArrivalDate] [date] NOT NULL,
	[NumberDays] [tinyint] NOT NULL,
	[EstimatedDepartureDate] [datetime] NULL,
	[IsExist] [bit] NULL,
	[IsPaid] [bit] NULL,
	[Cost] [money] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accomodation] ON 

INSERT [dbo].[Accomodation] ([IDAccomodation], [IDClient], [IDReserved], [IDPaymentCard], [PayDate]) VALUES (5, 18, 2, 2, NULL)
INSERT [dbo].[Accomodation] ([IDAccomodation], [IDClient], [IDReserved], [IDPaymentCard], [PayDate]) VALUES (6, 5, 4, 4, CAST(N'2021-05-05' AS Date))
INSERT [dbo].[Accomodation] ([IDAccomodation], [IDClient], [IDReserved], [IDPaymentCard], [PayDate]) VALUES (9, 18, 5, 2, NULL)
SET IDENTITY_INSERT [dbo].[Accomodation] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([IDClient], [Surname], [Name], [Patronymic], [Document], [DocumentSeriesAndNumber], [Birthday], [Gender], [HomeAddress], [PhoneNumber]) VALUES (1, N'Гордеева', N'Инна', N'Алексеевна', N'Passport', N'ffff 111111', CAST(N'2000-12-04' AS Date), N'Ж', N'авпв', N'89323323612')
INSERT [dbo].[Clients] ([IDClient], [Surname], [Name], [Patronymic], [Document], [DocumentSeriesAndNumber], [Birthday], [Gender], [HomeAddress], [PhoneNumber]) VALUES (3, N'Гордеева', N'Валерия', N'Алексеевна', N'Passport', N'ffff 222222', CAST(N'2000-12-04' AS Date), N'Ж', N'авпв', N'89323323612')
INSERT [dbo].[Clients] ([IDClient], [Surname], [Name], [Patronymic], [Document], [DocumentSeriesAndNumber], [Birthday], [Gender], [HomeAddress], [PhoneNumber]) VALUES (5, N'Гордеева', N'Инна', N'Алексеевна', N'Passport', N'fffa 333333', CAST(N'2000-12-04' AS Date), N'Ж', N'авпв', N'89323323612')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Numbers] ON 

INSERT [dbo].[Numbers] ([IDNumber], [Cost], [Floor], [PhoneNumber], [NumberName], [IsLux], [NumberOfRooms], [NumberOfPlaces], [NumberOfFreePlaces], [IsBusy], [Description]) VALUES (1, 1000.0000, 1, N'8999999', N'Ф1', NULL, 1, 2, 0, 1, NULL)
INSERT [dbo].[Numbers] ([IDNumber], [Cost], [Floor], [PhoneNumber], [NumberName], [IsLux], [NumberOfRooms], [NumberOfPlaces], [NumberOfFreePlaces], [IsBusy], [Description]) VALUES (2, 2000.0000, 2, N'89999999', N'Л1', 1, 2, 1, 0, 0, N'Люкс с видом во двор')
INSERT [dbo].[Numbers] ([IDNumber], [Cost], [Floor], [PhoneNumber], [NumberName], [IsLux], [NumberOfRooms], [NumberOfPlaces], [NumberOfFreePlaces], [IsBusy], [Description]) VALUES (3, 3000.0000, 3, N'98765432', N'Л3', 1, 2, 2, 2, 1, N'Люкс с видом на море')
SET IDENTITY_INSERT [dbo].[Numbers] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentCard] ON 

INSERT [dbo].[PaymentCard] ([IDPaymentCard], [ArrivalDate], [DepartureDate], [Payment]) VALUES (2, CAST(N'2021-05-05T00:00:00.000' AS DateTime), CAST(N'2021-05-10T00:00:00.000' AS DateTime), 10000.0000)
INSERT [dbo].[PaymentCard] ([IDPaymentCard], [ArrivalDate], [DepartureDate], [Payment]) VALUES (3, CAST(N'2021-05-05T00:00:00.000' AS DateTime), CAST(N'2021-05-05T00:00:00.000' AS DateTime), 1000.0000)
INSERT [dbo].[PaymentCard] ([IDPaymentCard], [ArrivalDate], [DepartureDate], [Payment]) VALUES (4, CAST(N'2021-05-05T00:00:00.000' AS DateTime), CAST(N'2021-05-05T00:00:00.000' AS DateTime), 3000.0000)
SET IDENTITY_INSERT [dbo].[PaymentCard] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([IDReserved], [IDClient], [EstimatedArrivalDate], [NumberDays], [EstimatedDepartureDate], [IsExist], [IsPaid], [Cost]) VALUES (2, 18, CAST(N'2021-05-05' AS Date), 5, CAST(N'2021-10-05T00:00:00.000' AS DateTime), 1, 1, 2000.0000)
INSERT [dbo].[Reservation] ([IDReserved], [IDClient], [EstimatedArrivalDate], [NumberDays], [EstimatedDepartureDate], [IsExist], [IsPaid], [Cost]) VALUES (4, 1, CAST(N'2021-05-05' AS Date), 5, CAST(N'2021-05-10T00:00:00.000' AS DateTime), 0, NULL, 2000.0000)
INSERT [dbo].[Reservation] ([IDReserved], [IDClient], [EstimatedArrivalDate], [NumberDays], [EstimatedDepartureDate], [IsExist], [IsPaid], [Cost]) VALUES (5, 3, CAST(N'2021-05-05' AS Date), 3, CAST(N'2021-05-05T00:00:00.000' AS DateTime), 1, 1, 3000.0000)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
INSERT [dbo].[Reservation_Number] ([IDNumber], [IDClient], [ArrivalDate], [IDReserved], [NumberDay], [NumberPeople]) VALUES (1, 1, CAST(N'2021-05-05T00:00:00.000' AS DateTime), 4, 5, 2)
INSERT [dbo].[Reservation_Number] ([IDNumber], [IDClient], [ArrivalDate], [IDReserved], [NumberDay], [NumberPeople]) VALUES (4, 18, CAST(N'2021-05-05T00:00:00.000' AS DateTime), 2, 5, 2)
INSERT [dbo].[Reservation_Number] ([IDNumber], [IDClient], [ArrivalDate], [IDReserved], [NumberDay], [NumberPeople]) VALUES (9, 30, CAST(N'2023-05-01T00:00:00.000' AS DateTime), 18, 30, 1)
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([IDReview], [IDClient], [Score], [Description], [ReviewDate]) VALUES (1, 18, N'5', N'Без балкона с окнами во двор', CAST(N'2022-12-12' AS Date))
INSERT [dbo].[Review] ([IDReview], [IDClient], [Score], [Description], [ReviewDate]) VALUES (3, 1, N'4', NULL, CAST(N'2021-05-10' AS Date))
INSERT [dbo].[Review] ([IDReview], [IDClient], [Score], [Description], [ReviewDate]) VALUES (4, 1, N'3', NULL, CAST(N'2021-05-10' AS Date))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
/****** Object:  Index [IX_Accomodation_IDClient]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Accomodation_IDClient] ON [dbo].[Accomodation]
(
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Accomodation_IDReserved_IDPaymentCard_IDClient]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Accomodation_IDReserved_IDPaymentCard_IDClient] ON [dbo].[Accomodation]
(
	[IDReserved] ASC,
	[IDPaymentCard] ASC,
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Clients_DocumentSeriesAndNumber]    Script Date: 04.07.2023 12:47:56 ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UIX_Clients_DocumentSeriesAndNumber] UNIQUE NONCLUSTERED 
(
	[DocumentSeriesAndNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Surname]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Surname] ON [dbo].[Clients]
(
	[Surname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_IDClient]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_IDClient] ON [dbo].[Reservation]
(
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_Number]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_Number] ON [dbo].[Reservation_Number]
(
	[IDReserved] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_Number_Covering]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_Number_Covering] ON [dbo].[Reservation_Number]
(
	[IDClient] ASC,
	[ArrivalDate] ASC
)
INCLUDE([IDNumber],[IDReserved],[NumberDay],[NumberPeople]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20211026-122820]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20211026-122820] ON [dbo].[Reservation_Number]
(
	[IDReserved] ASC,
	[IDNumber] ASC,
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [NonClusteredIndex-20211026-122836]    Script Date: 04.07.2023 12:47:56 ******/
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20211026-122836] ON [dbo].[Review]
(
	[IDReview] ASC,
	[IDClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF_Reservation_EstimatedArrivalDate]  DEFAULT (getdate()) FOR [EstimatedArrivalDate]
GO
ALTER TABLE [dbo].[Review] ADD  CONSTRAINT [DF_ReviewDate]  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [FK_Accomodation_PaymentCard] FOREIGN KEY([IDPaymentCard])
REFERENCES [dbo].[PaymentCard] ([IDPaymentCard])
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [FK_Accomodation_PaymentCard]
GO
ALTER TABLE [dbo].[Accomodation]  WITH CHECK ADD  CONSTRAINT [FK_Accomodation_Reservation] FOREIGN KEY([IDReserved])
REFERENCES [dbo].[Reservation] ([IDReserved])
GO
ALTER TABLE [dbo].[Accomodation] CHECK CONSTRAINT [FK_Accomodation_Reservation]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Client] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([IDClient])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Client]
GO
ALTER TABLE [dbo].[Reservation_Number]  WITH CHECK ADD  CONSTRAINT [Client_reservation_number] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([IDClient])
GO
ALTER TABLE [dbo].[Reservation_Number] CHECK CONSTRAINT [Client_reservation_number]
GO
ALTER TABLE [dbo].[Reservation_Number]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Number_Reservation] FOREIGN KEY([IDReserved])
REFERENCES [dbo].[Reservation] ([IDReserved])
GO
ALTER TABLE [dbo].[Reservation_Number] CHECK CONSTRAINT [FK_Reservation_Number_Reservation]
GO
ALTER TABLE [dbo].[Reservation_Number]  WITH CHECK ADD  CONSTRAINT [Number_reservation_number] FOREIGN KEY([IDNumber])
REFERENCES [dbo].[Numbers] ([IDNumber])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation_Number] CHECK CONSTRAINT [Number_reservation_number]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [Client_review] FOREIGN KEY([IDClient])
REFERENCES [dbo].[Clients] ([IDClient])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [Client_review]
GO
ALTER TABLE [dbo].[Clients]  WITH CHECK ADD  CONSTRAINT [CK_Client_Documents] CHECK  (([Document]='Passport' OR [Document]='Birth certificate' OR [Document]='Drivers licence'))
GO
ALTER TABLE [dbo].[Clients] CHECK CONSTRAINT [CK_Client_Documents]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [CK_Review_Score] CHECK  (([Score]=(1) OR [Score]=(2) OR [Score]=(3) OR [Score]=(4) OR [Score]=(5)))
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [CK_Review_Score]
GO
/****** Object:  StoredProcedure [dbo].[Proc_NumbersStat]    Script Date: 04.07.2023 12:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_NumbersStat]
@StartDay date,
@EndDay date
AS
BEGIN
SELECT
RN.IDNumber,
COUNT(*) AS CountNumber,
SUM(N.Cost * DATEDIFF(day, RN.ArrivalDate, COALESCE(RN.IDReserved, GETDATE()))) AS TotalCost,
SUM(DATEDIFF(day, RN.ArrivalDate, COALESCE(RN.IDReserved, GETDATE()))) AS TotalDays
FROM
Reservation_Number RN
JOIN
Numbers N ON RN.IDNumber = N.IDNumber
WHERE
RN.ArrivalDate BETWEEN @StartDay AND @EndDay
GROUP BY
RN.IDNumber
END;
GO
EXEC [Hotel].sys.sp_addextendedproperty @name=N'Whois', @value=N'Тахтамышев Константин Игоревич' 
GO
USE [master]
GO
